<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
        <!-- select a country -->
        <div>
            <form method="POST" action="/getCountry" id="countryForm">
                <select class="country" name="country" onchange="submitForm('countryForm')">
                    <option value="">Select Country</option>
                    <option value='{"countryCode":"CN", "countryName":"China"}'>China</option>
                    <option value='{"countryCode":"GB", "countryName":"United Kingdom"}'>United Kingdom</option>
                    <option value='{"countryCode":"US", "countryName":"United States"}'>United States</option>
                    <option value='{"countryCode":"JP", "countryName":"Japan"}'>Japan</option>
                    <option value='{"countryCode":"KR", "countryName":"Korea"}'>Korea</option>
                </select>
                
            </form>           
        </div>
        <!-- show the public holiday list -->
        <div>           
            <h1>You have chosen: <%=countryName%></h1>
            <ul>                
                <% for (var i = 0; i < holiday.length; i++) { %>
                    <li>
                        <%=holiday[i].localName%> <%=holiday[i].date%>
                    </li>                      
                <% } %>                
            </ul>            
        </div> 
        <!-- select a region -->
        <div>
            <form action="/getRegion" method="POST" id="regionForm">
                <select name="region" class="region" onchange="submitForm('regionForm')">    
                    <option value="">Select Region</option>       
                    <% for (var i = 0; i < region.length; i++){ %>
                        <option value='{"isoCode": "<%=region[i].isoCode%>", "regionName":"<%=region[i].name%>"}'>
                            <%=region[i].name%>
                        </option>
                    <% } %>
                </select>
            </form>   
        </div>

    <script>
        function submitForm(formName){
            var form = document.getElementById(formName);
            form.submit();
        }

       
    </script>
    
</body>
</html>